/* Formatting the map */ 
/* Recommended CSS */ 

/* Map size */
@media only screen and (min-height: 800px){
  #leaflet_map { height: 800px; }
}
@media only screen and (max-height: 800px){
  #leaflet_map { height:90vh; }
}

/* Popups */ 
a.leaflet_link:link, a.leaflet_link:visited, a.leaflet_link:active {font-weight:bold; text-decoration: none; color: #1c7e1a}
a.leaflet_link:hover {text-decoration: underline;}
#leaflet_popupname {font-size:16px; font-weight:bold}
#leaflet_priceactual {color: gold; display: inline-block;}
#leaflet_pricerest {color: lightgrey; display: inline-block;}

/* Custom control layers icon */
.leaflet-control-layers {
  background:  #fff;
}
.leaflet-control-layers-toggle {
  background-image: url(./resources/icons/choice.png);
  background-size: 45px 45px;
  filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(803%) hue-rotate(82deg) brightness(94%) contrast(85%); /* #1c7e1a, credit: https://codepen.io/sosuke/pen/Pjoqqp */
}
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(./resources/icons/choice.png);
  background-size: 45px 45px; 
  filter: brightness(0) saturate(100%) invert(30%) sepia(99%) saturate(803%) hue-rotate(82deg) brightness(94%) contrast(85%); /* #1c7e1a, credit: https://codepen.io/sosuke/pen/Pjoqqp */ 
}
.leaflet-touch .leaflet-control-layers-toggle {
  width: 50px;
  height: 50px; 
}

/* No overhead spacing inside layer control list */ 
.leaflet-control-layers-list {
  padding:0;
}

/* Category headline and close button */ 
.leaflet_category_headline_title {
  margin-top:16px;
  margin-bottom:4px;
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
}
.leaflet_category_headline_close_button {
  position: absolute; 
  top: 0px;
  right: 0; 
  border: none;
  text-align: right;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  }
.leaflet_category_headline_close_button:hover {
  color: #999;
  cursor: pointer;
}

/* Underline map links in list on hover */ 
#list-map-link:hover{
	text-decoration:underline;
}

/* Rebuilding basic good looks */
/* Optional CSS */ 
#leaflet_map {
  max-width: 70vw;
  margin-left: 15vw;
}
#veggieguide_list {
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
#veggieguide_table {
  margin-left: auto;
  margin-right: auto;
  width:100%;
  margin-top: 1em;
  border:0.1rem solid #d7cfab;
}
body {
  background: #f5efe0;
  font-family: "Helvetica Neue";
}
.color-accent {
  color: #1c7e1a;
}
.wp-block-button.is-style-outline {
  color: #1c7e1a;
}
.wp-block-button__link {
  margin-top:1em;
  margin-bottom:1em;
  background-color:  #f5efe0;
  color: #1c7e1a;
  font-size:18px;
  font-weight:450;
  text-transform:uppercase;
  border-width: 2px; 
  border-color:#1c7e1a;
  border-style:solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.wp-block-button__link:hover {
  text-decoration: underline;
  cursor:pointer;
}
#veggieguide_table td {
  border:0.1rem solid #d7cfab;
  border-right:none;
  border-left:none;
  border-bottom:none;
  height: 2em;
  padding-left: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}
#veggieguide_table > tr:first-child > td {
  border-top:none;
}

